name: Import PowerShell Module (PS 5.1)

on:
  workflow_dispatch:

jobs:
  import-module:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Import local PowerShell module (Windows PowerShell 5.1)
        shell: PowerShell
        run: |
          Write-Host "PowerShell version:"
          $PSVersionTable

          Write-Host "GITHUB_WORKSPACE = $($env:GITHUB_WORKSPACE)"
          $build = Join-Path $env:GITHUB_WORKSPACE 'helper\build.ps1'

          Write-Host "Listing $($env:GITHUB_WORKSPACE) ..."
          Get-ChildItem $env:GITHUB_WORKSPACE | Format-Table

          Write-Host "Building the module..."
          ./build.ps1 -ResolveDependency -Tasks noop


          Write-Host "Preparing for import..."
          Get-ChildItem (Join-Path $env:GITHUB_WORKSPACE 'output\module\FabricTools') | Format-Table

          $modulePath = Join-Path $env:GITHUB_WORKSPACE 'output\module\FabricTools\0.0.1\FabricTools.psd1'
          Write-Host "Importing module from: $modulePath"
          Import-Module $modulePath -Force -Verbose

          Write-Host "Module imported successfully"
